.login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px 24px;
}
.hero h3 {
    color: #356899;
    size: 22px;
}

.hero p:nth-child(2) {
    height: 700;
    font-size: 24px;
}
.hero p:nth-child(3) {
    height: 400;
    font-size: 14px;
    color: #0d0d26;
    opacity: 0.4;
    margin-bottom: 52px;
}

.login-form {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.login-form input {
    border: 1px solid #afb0b6;
    height: 44px;
    border-radius: 10px;
    margin-top: 16px;
}
.login-form input::placeholder {
    color: #afb0b6;
    opacity: 0.9;
    padding-left: 16px;
}
.login-form span {
    color: #ff3535;
}

.login-form button {
    margin: 16px 0;
    height: 52px;
    border-radius: 5px;
    background-color: #356899;
    border: none;
    color: #ffffff;
}

.button-section {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button-section span {
    margin-top: 32px;
}
